<div class="card mt-4" *ngIf="user">
    <h4 class="card-header">Welcome! {{user.firstName}} {{user.lastName}}</h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

        <div class="card-deck">
            <div class="card card-1 mt-4">
                <div class="card-body">
                    Add Student
                </div>
            </div>
            <div class="card card-1 mt-4">
                <div class="card-body">
                    Upload Data
                </div>
            </div>
        </div>
    </div>
</div>