﻿<div class="card mt-4" *ngIf="user">
    <h4 class="card-header">Welcome! {{user.firstName}} {{user.lastName}}</h4>
    <div class="card-body">
        <!-- <h6>Users from secure api end point</h6> -->
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <!-- <ul *ngIf="users">
            <li *ngFor="let user of users">Welcome! {{user.firstName}} {{user.lastName}}</li>
        </ul> -->

        <div class="card-deck">
            <div class="card card-1 mt-4">
                <!-- <h5 class="card-header">Add Special Teacher</h5> -->
                <div class="card-body">
                    Add Special Teacher
                </div>
            </div>
            <div class="card card-1 mt-4">
                <!-- <h5 class="card-header">Add Counsellor</h5> -->
                <div class="card-body">
                    Add Counsellor
                </div>
            </div>
            <div class="card card-1 mt-4">
                <!-- <h5 class="card-header">Add Class Teacher</h5> -->
                <div class="card-body">
                    Add Class Teacher
                </div>
            </div>
        </div>
    </div>
</div>